.nav-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  overflow: hidden;
  width: auto;
  padding-top: 5px;
  transition: 1s;
}

@media screen and (max-width: 1373px) {
  .nav-list {
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background-color: #f3f2f2;
    height: 90vh;
    width: 100%;
    border-radius: 0 0 30px 30px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
  }
}
