.profile-ico {
  width: 20px;
  height: 20px;
  padding-left: 20px;
  cursor: pointer;
  object-fit: scale-down;
  border-left: 0.7px solid #a7a6a6;
}

@media screen and (max-width: 1373px) {
  .profile-ico {
    display: none;
    border-left: none;
    padding-left: 0;
    margin-left: 15px;
  }
}
