.main-grid_authorized {
  grid-template-areas:
    "event event cover-history cover-history"
    "whereToGo whereToGo whereToGo whereToGo"
    "article-first article-first article-first article-first"
    "films films films films"
    "video video video video"
    "frame questions questions questions"
    "article-second article-second article-second article-second";
}

@media screen and (max-width: 1441px) {
  .main-grid_authorized {
    grid-template-areas:
      "event event event cover-history cover-history cover-history"
      "whereToGo whereToGo whereToGo whereToGo whereToGo whereToGo"
      "article-first article-first article-first article-first article-first article-first"
      "films films films films films films"
      "video video video video video video"
      "frame frame questions questions questions questions"
      "article-second article-second article-second article-second article-second article-second";
  }
}

@media screen and (max-width: 1196px) {
  .main-grid_authorized {
    grid-template-areas:
      "event cover-history"
      "whereToGo whereToGo"
      "article-first article-first"
      "films films"
      "video video"
      "frame questions"
      "article-second article-second";
  }
}

@media screen and (max-width: 1025px) {
  .main-grid_authorized {
    grid-template-areas:
      "event cover-history"
      "whereToGo whereToGo "
      "article-first article-first"
      "films films"
      "video video"
      "frame questions"
      "article-second article-second";
  }
}

@media screen and (max-width: 630px) {
  .main-grid_authorized {
    grid-template-columns: 1fr;
    grid-template-areas:
      "event"
      "cover-history"
      "whereToGo"
      "article-first"
      "films"
      "video"
      "frame"
      "questions"
      "article-second";
  }
}
