.about__capture {
  margin: 0;
  max-width: 1170px;

  font-family: 'Proto Grotesk Light Web';
  font-weight: 300;
  font-size: 44px;
  line-height: 50px;
  text-align: center;
  color: #1A1A1A;
}

@media screen and (min-width: 1025px) and (max-width: 1440px) {
  .about__capture {
    max-width: 964px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .about__capture {
    max-width: 770px;
    font-size: 23px;
    line-height: 30px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .about__capture {
    max-width: 290px;
    font-size: 23px;
    line-height: 30px;
  }
}