@import url('../../blocks/about/about.css');
@import url('../../blocks/about/__title/about__title.css');
@import url('../../blocks/about/__logo/about__logo.css');
@import url('../../blocks/about/__container/about__container.css');
@import url('../../blocks/about/__ellipse/about__ellipse.css');
@import url('../../blocks/about/__ellipse-text/about__ellipse-text.css');
@import url('../../blocks/about/__text-box/about__text-box.css');
@import url('../../blocks/about/__text/about__text.css');
@import url('../../blocks/about/__capture-box/about__capture-box.css');
@import url('../../blocks/about/__capture/about__capture.css');
@import url('../../blocks/about/__row-blocks/about__row-blocks.css');
@import url('../../blocks/about/__block/about__block.css');
@import url('../../blocks/about/__right-block-title/about__right-block-title.css');
@import url('../../blocks/about/__center-block-title/about__center-block-title.css');
@import url('../../blocks/about/__left-block-title/about__left-block-title.css');
@import url('../../blocks/about/__block-container/about__block-container.css');
@import url('../../blocks/about/__block-text/about__block-text.css');
@import url('../../blocks/about/__link/about__link.css');