.about__text {
  margin: 0;
  font-family: 'PT Root UI';
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  padding-bottom: 52px;
}

.about__text:last-child {
  padding-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 1024px) {
  .about__text {
    font-size: 15px;
    line-height: 21px;
    padding-bottom: 32px;
  }
}