.profile__city-edit {
  text-decoration: none;
  color: #a7a6a6;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 15px;
  line-height: 1.4;
  cursor: pointer;
}

.profile__city-edit_place_account {
  font-size: 18px;
  line-height: 1.44;
  margin-right: 30px;
}
