@import url(./_hidden/header_hidden.css);
.header {
  font-family: "ProtoGrotesk", Georgia, Serif;
  padding: 40px 75px;
  box-sizing: border-box;
  margin: 0 auto;
  width: 100%;
  min-height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: 0.5s;
  visibility: visible;
  opacity: 1;
  background-color: #f3f2f2;
  z-index: 999;
}

@media screen and (max-width: 1441px) {
  .header {
    padding: 40px 135px;
  }
}

@media screen and (max-width: 1373px) {
  .header {
    padding: 30px 127px;
    min-height: 90px;
    flex-direction: row-reverse;
  }
}

@media screen and (max-width: 940px) {
  .header {
    min-height: 50px;
    padding: 10px 15px;
  }
}
