.cover-history__layer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #4646469a;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: default;
}

.cover-history__layer:hover {
  opacity: 1;
}

/* @media screen and (max-width: 1441px) {
  .cover-history__layer {
    display: none;
  }
} */
