.poster__item {
  width: 420px;
  max-height: 408px;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
}

@media screen and (max-width: 1441px) {
  .poster__item:last-child {
    display: none;
  }
}

@media screen and (max-width: 1025px) {
  .poster__item:nth-child(3) {
    display: none;
  }
}

@media screen and (max-width: 630px) {
  .poster__item {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .poster__item:nth-child(2) {
    display: none;
  }
}
