/* .logo {
  width: 190px;
  height: 28px;
  margin: 0;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.12;
  color: blue;
  text-decoration: none;
}

.logo:visited {
  color: blue;
} */

/* vvvvvv Для другой страницы */

/* .logo_place_about-project {
  margin: 50px auto 80px;
  background: url("../../../images/logo_place_about-project.svg") no-repeat;
  background-size: contain;
  width: 357px;
  height: 65px;
}

@media screen and (max-width: 1439px) {
  .logo_place_about-project {
    width: 252px;
    height: 46px;
  }
}

@media screen and (max-width: 1370px) {
  .logo {
    transform: scale(0.8, 0.8);
  }
}

@media screen and (max-width: 423px) {
  .logo_place_about-project {
    margin: 30px auto 30px;
  }
} */
